<launch>
  <node pkg="galileo_serial_server" type="galileo_serial_server_node" name="galileo_serial_driver">
    <param name="port" value="/dev/ttyUSB002"/>
    <param name="baud" value="115200"/>
    <param name="galileoCmds_topic" value="/galileoSerialServer/cmds"/>
    <param name="galileoStatus_topic" value="/galileoSerialServer/status"/>
  </node>
</launch>
